.center {
    display: flex;
    justify-content: center;
}

#suggestion_html {
    list-style: none;
    background-color: whitesmoke;
}
#suggestion_html li:hover {
    background-color: aliceblue;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    #inputBox {
        width: 90vw;
    }
}