body {
    background-color: #edf0f4;
    font-family: "Robot Light";
}
.center {
    /*display: flex;*/
    /*justify-content: center;*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.container {
    width: 100%;
}

#suggestion_html {
    list-style: none;
    background-color: whitesmoke;
}
#suggestion_html li:hover {
    background-color: aliceblue;
    cursor: pointer;
}
#inputBox, li {
    font-size: 25px;
    border-radius: 5px;
    font-family: "Roboto Light";
}

@media only screen and (max-width: 800px) {
    #inputBox {
        width: vw;
    }
}